body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 74, 173, 0.1);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

hr {
    border: none; /* Remove the default border */
    height: 2px; /* Set the height of the rule */
    background-color: #004aad; /* Set the background color */
}

input {
    font-size: 1.2rem;
    margin-top: 25px;
    padding: 0.6rem 0.6rem;
    border-radius: 4px;
    border-color: #004aad;
    color: #666666;
}

h1 {
    font-size: 3.5rem;
    color: #333;
    text-align: center;
    font-family: 'Georgia', serif;
}

.head, h2 {
    color: #555;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    font-family: 'Georgia', serif;
}

.searchResultsContainer {
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    font-size: 1.2rem;
}

#searchResults {
    color: #666666;
    font-size: 1.1rem;
}

/* CSS for highlighted search result */
.highlighted {
    background-color: lightblue;
    width: 100%;
}

p {
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 3px;
}

a {
    text-decoration: none;
    color: #004aad;
    font-size: 1.2rem;
    line-height: 1.2;
}

a:hover {
    text-decoration: underline;
}

.btt {
    margin-top: 0;
    font-size: 1rem;
}

.head {
    margin-top: 1rem;
}
.footer p a {
    color: #004aad;
    font-size: 1.2rem;
    line-height: 1.2;
}

.author {
    font-size: 1rem;
    color: #004aad;
}

.github-logo:hover {
    translate: 1px 1px;
}

@media only screen and (max-width: 720px) {

    h1 {
        font-size: 2.5rem;
        text-align: left; /* Reset text alignment for smaller displays */
        margin-bottom: 20px;
    }

    .container {
        margin: 30px;
    }

}

@media only screen and (max-width: 450px) {

    h1 {
        font-size: 2rem;
    }

    .author {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 360px) {

    h1 {
        font-size: 1.7rem;
    }

    input {
        width: 85%;
    }

    .author {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 320px) {

    h1 {
        font-size: 1.3rem;
    }

    .author {
        font-size: 0.7rem;
    }
}
