body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f4f4f4;*/
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1121%26quot%3b)' fill='none'%3e%3cpath d='M57.62889126747979-37.319118214596514L-38.622231228580354 129.0264033041974 129.35218155769337 131.95840758566104z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-11.138381364940749 120.83478124283975L174.54548633479234 71.27055637066891 57.84288009768077-49.57853008622442z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M2.4357299439238957-29.063258003962204L-63.39621831283309 61.54664536603191 105.43461087053657 114.98961606617031z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1340.2470045741813 146.50173633780292L1451.9741782032816 154.31446139714495 1407.8296789777444-17.182661576176542z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1326.0572709656547-26.143344471365033L1265.0576990439718 67.78775913852246 1436.4541404196443 112.32156521610324z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1283.829679133801 47.585981551502044L1316.5753100627473 154.69211421936205 1460.8616936000642 52.02060149201235z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-60.54313633067206 565.967084782428L100.11606267111787 615.0855311758477-11.424689937252296 405.307885780638z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M75.52260873144 602.6091103154672L169.4537123413275 541.6095383937843 30.988802653859217 431.2126689397945z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M130.53931427108063 560.1694021608579L52.537950743993264 384.5251640002331-48.56697314555086 518.6959296881782z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1283.890412418809 513.1082030726586L1334.7373483896383 612.9009337817558 1459.0029764678695 486.7341644709634z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1494.6988672114792 432.11131507450233L1330.3700702881997 397.1821510171188 1459.7697031540956 596.4401119977817z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1433.4455476632288 626.3820249812266L1499.0883772494267 471.7372096012166 1278.8007322832188 560.7391953950286z' fill='rgba(0%2c 74%2c 173%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1121'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

input {
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 4px;
    border-color: #004aad;
}

thead {
    display: none;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 3px;
}

a {
    text-decoration: none;
    color: #004aad;
    font-size: 18px;
}

.with-love {
    font-size: 18px;
    color: #004aad;
}

a:hover {
    text-decoration: underline;
}

td {
    font-size: 18px;
}

.end-of-page-back-to-top {
    font-size: 18px;
}

