body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body.dark {
    background-color: #1a202c; /* Change this to the color you want for dark mode */
}

.container {
    max-width: 820px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 74, 173, 0.1);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}

hr {
    border: none; /* Remove the default border */
    height: 2px; /* Set the height of the rule */
    background-color: #004aad; /* Set the background color */
}

input {
    font-size: 1.2rem;
    margin-top: 25px;
    padding: 0.6rem 0.6rem;
    border-radius: 7px;
    border: 2px solid #004aad;
    color: #666666;
}

h1 {
    font-size: 3.5rem;
    color: #333;
    text-align: center;
    font-family: 'Georgia', serif;
    margin-bottom: 1rem !important;
}

.head, h2 {
    color: #555;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    font-family: 'Georgia', serif;
}

.searchResultsContainer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.font-weight-light {
    font-weight: lighter;
    font-size: 20px;
}

p {
    font-size: 1.1rem;
}

#searchResults {
    color: #666666;
    font-size: 1.1rem;
    margin-top: 2.3rem;
}

/* CSS for highlighted search result */
.highlighted {
    background-color: lightblue;
    width: 100%;
    color: #004aad;
}

.highlighted.head {
    background-color: #004aad; /* Change this to the color you want for dark mode */
}

.highlighted a {
    color: #004aad !important; /* Change this to the color you want for dark mode */
}

p {
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 3px;
}

a {
    text-decoration: none;
    color: #004aad;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-top: 5rem;
}

a:hover {
    text-decoration: underline;
}

.btt {
    margin-top: 0;
    font-size: 0.6rem;
}

.head {
    margin-top: 1rem;
}

.footer p a {
    font-size: 1.2rem;
    line-height: 1.2;
}

.author {
    font-size: 1.1rem;
}

.github-logo {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}

.github-logo:hover {
    translate: 1px 1px;
}

@media only screen and (max-width: 720px) {

    h1 {
        padding-top: 1.5rem;
        font-size: 2.5rem;
        margin-bottom: 20px !important;
    }

    .container {
        margin: 30px !important;
    }

}

@media only screen and (max-width: 470px) {

    h1 {
        font-size: 2rem;
    }

    .author {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 385px) {

    h1 {
        font-size: 1.7rem;
    }

    input {
        width: 85%;
    }

    .author {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 350px) {

    h1 {
        font-size: 1.3rem;
    }

    .author {
        font-size: 0.7rem;
    }
}
